
{% extends "base.html" %}
{% load static %}
{% block contents %}

      <div class="album py-5 bg-light">

        <div class="container">
           <a href="{% url 'model_form_upload' %}">  <button class="btn btn-primary">Upload new file</button></a>
           <a class='pt-5 ' href="{% url 'shared' %}">  <button class="btn btn-dark">See who shared file with you</button></a>

              {% for file in files  %}
                <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text"> <strong>Name:</strong> {{ file.name }}</p>
                   <p class="card-text"> <strong>Description:</strong> {{ file.description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                     <a href="{% url 'detail' file_id=file.id  %}"> <button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                     <br>
                     <a href="{% url 'share' file_id=file.id  %}"> <button type="button" class="btn btn-sm btn-outline-secondary">Share</button></a>
                    </div>
                    <small class="text-muted">will expire on: {{file.expiration_date}}</small>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% if message %}
                  <p> {{message}} </p>
              {% endif  %}
        </div>
      </div>
{% endblock %}