
{% extends "base.html" %}
{% load static %}
{% block contents %}

      <div class="album py-5 bg-light">
        <div class="container">
            <form method="post">
              {% csrf_token %}
                <input type="tex" name="username_or_email" placeholder="write username or email here">
                <p>
                <select name ="comment">
                  <option value="True">Comment on </option>
                  <option value="False">Comment off </option>
                </select>
              </p>
                {% if error %}
                <p>{{error}}  </p>
                {% endif %}

                {% if success %}
                <p>{{success}}  </p>
                {% endif %}


              <button type="submit">Share</button>
            </form>
            <a href="{% url 'home' %}">  <button class="btn btn-info">Go back</button></a>
      </div>

{% endblock %}
