{% extends "base.html" %}
{% load static %}
{% block contents %}
      <div class="album py-5 bg-light">
        <div class="container">
           <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Upload</button>
            </form>
            <a href="{% url 'home' %}">  <button class="btn btn-info">Go back</button></a>
        </div>
      </div>

 <script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1900:2012",
      // You can put more options here.

    });
  });
  </script>
{% endblock %}